{% extends 'main.html' %}

{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <h1>{{ meal.name }}</h1>
        <input name="name" type="hidden" value="{{ meal.name }}">
        <label for="amount">Amount:</label>
        <input name="amount" id="amount" type="number" value="1" min="1">
        <h1>Price:</h1>
        <h1 id="price_h1"> {{ meal.price }}</h1>
        <input name="cost" id="price_overall" type="hidden" value="{{ meal.price }}">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}

